.card{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 6px 18x -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    

}
.card:hover{
    transform: scale(1.02);
}
.card_info{
    padding: 20px 10px;
}

.card>img{
    object-fit: fill;
    width: 250px;
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.card_info>h3{
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}
.card_info>h4{
    font-weight: 500;
    margin-top: 5px;
    font-size: 15px;
}
.card_rating{
    display: flex;
align-items: center;
}

.card_rating>.MuiSvgIcon-root{
    color:#ff5a5f;
    margin-right: 5px;
}
